body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #0a58ca;
  color: white;
  padding: 20px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

h2 {
  color: #0a58ca;
}

button {
  padding: 10px 15px;
  background-color: #0a58ca;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #084298;
}

footer {
  text-align: center;
  padding: 10px;
  background: #222;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logo {
  width: 70px;
}

